@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #fffbee;
  --color-secondary: #242424;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #242424;
    --color-secondary: #fffbee;
  }
}
