#blogContent p {
    padding: 15px;
    padding-left: 0;
    font-size: 1em;
    line-height: 1.75em;
    line-break: after-white-space;
}

#blogContent h2 {
    font-size: 2.5em;
    margin-top: 20px;
    margin-bottom: 20px;
}

#blogContent h3  {
    font-size: 2em;
    margin-bottom: 17px;
    margin-top: 8px;
}

#blogContent h4 {
    font-size: 1.5em;
    margin-bottom: 15px;
    margin-top: 6px;
}

#blogContent strong {
    font-weight: bold;
}

#blogContent em {
    font-style: italic;
}

#blogContent figure {
    margin: 2em 0;
}

#blogContent img {
    width: 100%;
    margin-bottom: .5em;
}

#blogContent figcaption {
    margin-top: 10px;
    font-size: .75em;
    color: #B3B3B3;
    text-align: center;
}

#blogContent a {
    color: #007fac;
}

#blogContent a:visited {
    color: #007fac;
}

#blogContent ul {
    list-style-position: outside;
    list-style-type: disc;
    padding-left: 2em;
}

#blogContent li {
    line-height: 1.75em;
}

#blogContent .wp-block-embed{
    display: flex;
    align-items: center;
    align-self: center;
    flex-direction: column;
}

#blogContent blockquote {
    border-left: 4px solid black;
    padding-left: 1em;
    margin-bottom: 20px;
}

#blogContent cite{
    font-size: 0.8em;
    color: #B3B3B3;
}

#blogContent pre {
    background: #eee;
font-family: "Courier 10 Pitch", Courier, monospace;
font-size: 15px;
font-size: 0.9375rem;
line-height: 1.6;
margin-bottom: 1.6em;
max-width: 100%;
overflow: auto;
padding: 1.6em;
}

#blogContent code {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 15px;
    font-size: 0.9375rem;
}
