.background {
    background-color: white;
    width: 100%;
    font-family: 'Zwizz';
    z-index: 0;
    color: black;
    display: flex;
    flex-grow: 1;
    min-height: 100%;
}

.divider {
    position: relative;
    top: 0;
    word-break: break-all;
    width: 100%;
}

.heroImage {
    width: 100% !important;
    height: calc(100vh - 100px) !important;
    object-fit: cover !important;
    background-position: center !important;
    background-attachment: fixed !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    display: flex !important;
}

.section {
    z-index: 100;
    color: white;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    filter: brightness(1);
    padding: 50px 14px 50px 14px;
}

.form {
    display: flex;
    flex-direction: column;
}

.input {
    margin: 10px 0;
    background-color: #B3B3B3;
    min-width: 200px;
    border: none;
    padding: 0.5em 1em;
    border-radius: 10px;
    font-family: 'Noto Serif';
}

.submit {
    align-self: flex-end;
}

.categoryContainer {
    display: flex;
    flex-direction: row;
}

.category {
    background-color: #EE7778;
    border-radius: 10px;
    padding: 4px 5px;
    font-size: 0.45em;
    margin: 0 5px;
    font-family: 'Noto Serif';
    font-weight: normal;
    margin-bottom: 1em;
}

.author {
    color: #B3B3B3;
    margin-top: 5px;
    font-size: .45em;
}

.title {
    font-family: 'Noto Serif';
    color: white;
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    border-left: 1px solid white;
    font-size: 40px;
    font-weight: bold;
    padding: 0 .75em;
    margin: 2em 1.5em;
    word-break: break-word;
}

.titleComment {
    font-family: 'Noto Serif';
    color: black;
    font-size: 40px;
    font-weight: bold;
    padding: 0 .75em;
    word-break: break-word;
}

.text {
    font-family: 'Noto Serif';
    color: #000;
    word-break: break-word;
}

.italics {
    font-style: italic;
}

@media (max-width: 768px) {
    .heroImage {
        height: calc(100vh - 250px) !important;
    }

    .section {
        padding: 25px 14px;
    }

    .title {
        margin: 0.5em .5em 1em .5em;
        padding: 0 0.25em;
        border-left: 1px solid #EE7778;
    }

    .mobileHidden {
        visibility: hidden;
    }

    .mobileVisible {
        color: black;
        visibility: visible;
    }
}

@media (min-width: 768px) {
    .mobileVisible {
        display: none;
    }
}
